# Dart / Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
pubspec.lock
coverage/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Example app platform folders are generated with `flutter create .`
example/.dart_tool/
example/build/
example/pubspec.lock
